body {
  font-family: sans-serif;
  margin: 0;
}

.controls {
  background: pink;
  color: white;
  padding: 30px;
  transition: transform 500ms, opacity 200ms;
  position: absolute;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.controls.hidden {
  transform: translateY(50px);
  opacity: 0;
}

#play, #pause {
  padding: 10px;
  outline: none;
  border: none;
  background: none;
  transition: opacity 0.2s;
}

#play:disabled, #pause:disabled {
  opacity: 0.3;
}

.player-bar {
  width: 100vw;
  background: lightblue;
}

.progress {
  background: hotpink;
  height: 50px;
  transition: width 0.2s;
}

#playhead-position {
  position: relative;
  top: 16px;
  left: 50%;
  height: 0;
  color: white;
  font-family: monospace;
  font-size: 20px;
  font-weight: 700;
}
